* {
  color: white;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

:root {
  --theme-bg: rgb(11, 0, 20);
  --primary: white;
  --secondary: rgb(58, 3, 58);
  --tertiary: rgb(187, 13, 187);
  /*--tertiary: rgb(40, 44, 44);*/
}

body {
  width: 70%;
  margin: auto;
  background-color: var(--theme-bg);
}

nav {
  position: sticky;
  top: 10px;
  left: 0px;
  z-index: 9999;
  padding: 0 8px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 16px;
  margin: 32px 0;
  border-radius: 32px;
  backdrop-filter: blur(5px);
  border: 1px solid var(--tertiary);
  box-shadow: inset 0px 0px 10px var(--tertiary);
  text-shadow: 0px 0px 2px var(--tertiary);
}

.nav-list a {
  position: relative;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
}

.nav-list a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background-color: white;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.nav-list a:hover::after {
  transform-origin: right;
  transform: scaleX(1);
}

main {
  padding: 0 8px;
}

header {
  background-image: url('/assets/space.jpg');
  position: relative;
  padding: 8px;
  padding-top: 32px;
  margin-bottom: 80px;
  width: 100%;
  min-height: 300px;
  border-radius: 0px 0px 16px 16px;
}

header > h1 {
  font-size: 2rem;
  text-align: center;
  font-family: 'Bricolage Grotesque', Arial, Helvetica, sans-serif;
}

#bio {
  position: relative;
  font-weight: 300;
  text-align: center;
  font-size: 0.9rem;
  margin: 0 auto;
  margin-top: 32px;
  animation: appear 2s ease-out;
}

@keyframes appear {
  0% {
    top: 50px;
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    top: 0px;
    opacity: 1;
    transform: scale(1);
  }
}

#profile-image {
  position: absolute;
  width: 10rem;
  border: 4px solid var(--secondary);
  border-radius: 100%;
  bottom: 0;
  transform: translate(-50%, 30%);
  left: 20%;
}

section {
  position: relative;
  margin-bottom: 32px;
  padding: 32px 8px;
  border-top: 4px solid var(--tertiary);
}

section > h2 {
  position: absolute;
  font-size: 1rem;
  top: 0;
  padding: 8px;
  border-radius: 20px;
  box-shadow: inset 0px 0px 5px var(--tertiary);
  border: 1px solid var(--tertiary);
  background-color: var(--secondary);
  transform: translate(0%, -50%);
  /*box-shadow: 0px 0px 5px var(--tertiary);*/
}

section > p {
  margin-bottom: 8px;
}

ul {
  list-style: none;
  width: 100%;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  row-gap: 8px;
  column-gap: 16px;
}

ul#projects {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

section li {
  display: inline;
  font-size: 0.75rem;
  background-color: var(--secondary);
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  min-height: 50px;
  background: var(--secondary);
  text-align: center;
}

ul#skillset > li {
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.proj {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
  padding: 8px 1px 1px 0px;
}

li.proj:hover,
#skillset li:hover {
  transition: 0.5s;
  transform: scale(1.05);
}

.proj > h3 {
  padding: 0px 8px;
}

.proj > div {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-between;
  padding: 8px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.proj a {
  text-decoration: none;
  background-color: var(--secondary);
  padding: 8px;
  border-radius: 4px;
}

.project-img {
  width: 100%;
  border-radius: 8px;
  height: 100%;
}

#socials a {
  font-size: 2rem;
  text-decoration: none;
}

#socials a:hover {
  color: var(--tertiary);
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  font-weight: 600;
  margin-bottom: 4px;
}

input,
textarea {
  color: black;
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  outline: 2px solid black;
  margin-bottom: 8px;
}

input {
  max-width: 20rem;
}

input:focus,
textarea:focus {
  outline-color: var(--tertiary);
}

textarea {
  width: 100%;
  height: 7rem;
  margin-bottom: 8px;
}

button[type='submit'] {
  width: fit-content;
  background-color: var(--secondary);
  font-size: 1rem;
  font-weight: 600;
  padding: 8px;
  border-radius: 8px;
  align-self: flex-end;
}

/*MARK: for small screens */
@media (max-width: 768px) {
  body {
    width: 100vw;
  }

  .nav-list {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .nav-list a {
    font-size: 0.8rem;
  }

  #profile-image {
    left: 20%;
    width: 8rem;
  }
}

.scroll-animated {
  opacity: 0;
}

.scroll-active {
  display: inline;
  position: relative;
  animation: appear 2s;
}
