* {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: none;
  box-sizing: border-box;
  border: none;
}

:root {
  --theme-bg: rgb(11, 0, 20);
  --primary: white;
  --secondary: rgb(58, 3, 58);
  --tertiary: rgb(187, 13, 187);
  /*--tertiary: rgb(40, 44, 44);*/
}

body {
  width: 60%;
  margin: auto;
  background-color: var(--theme-bg);
}

main {
  padding: 0 8px;
}

header {
  background-image: url('/assets/space.jpg');
  position: relative;
  padding: 8px;
  padding-top: 32px;
  margin-bottom: 80px;
  width: 100%;
  min-height: 300px;
}

header > h1 {
  font-size: 2rem;
  text-align: center;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
header > p {
  margin-top: 32px;
  font-weight: 300;
  text-align: center;
  font-size: 0.9rem;
}

#profile-image {
  position: absolute;
  width: 10rem;
  border: 4px solid var(--secondary);
  border-radius: 100%;
  bottom: 0;
  transform: translate(-50%, 30%);
  left: 20%;
}

section {
  position: relative;
  margin-bottom: 32px;
  padding: 32px 8px;
  border-top: 4px solid var(--tertiary);
}

section > h2 {
  position: absolute;
  font-size: 1rem;
  top: 0;
  padding: 8px;
  border-radius: 20px;
  background: linear-gradient(
    to bottom right,
    var(--tertiary) 10%,
    var(--secondary)
  );

  border: 2px solid var(--tertiary);
  transform: translate(0%, -50%);
  box-shadow: 0px 0px 5px var(--tertiary);
}

ul {
  list-style: none;
  width: 100%;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  row-gap: 8px;
  column-gap: 16px;
}


ul#projects {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

ul > li {
  display: inline;
  font-size: 0.75rem;
  background-color: var(--secondary);
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  min-height: 50px;
  background: var(--secondary);
  text-align: center;
}


ul#skillset>li{
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.proj {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
  padding: 8px 1px 1px 0px;
}

.proj > h3 {
  padding: 0px 8px;
}

.proj > div {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-between;
  padding: 8px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.proj a {
  text-decoration: none;
  background-color: var(--secondary);
  padding: 8px;
  border-radius: 4px;
}

.project-img {
  width: 100%;
  border-radius: 8px;
  height: 100%;
}

form{
  display: flex;
  flex-direction: column;
  width: 100%;
}

label{
  font-weight: 600;
  margin-bottom: 4px;
}

input, textarea{
  color: black;
  width:fit-content;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 8px;
  outline: 2px solid black;
}
input:focus, textarea:focus{
  outline-color: var(--tertiary);
}

textarea{
  width: 100%;
  height: 7rem;
}

button[type=submit]{
  width:fit-content;
  background-color: var(--tertiary);
  font-size: 1rem;
  font-weight: 600;
  padding: 8px;
  border-radius: 8px;
  align-self: flex-end;
}

/*MARK: for small screens */
@media (max-width: 768px) {
  body {
    width: 100%;
  }

  #profile-image {
    left: 20%;
    width: 8rem;
  }
}
